@import "vars";
@import "./vendor/reset";

html {
    font-size: 62.5%;
}

body {
    background-color: white;
    font-family: $secondfont;
    font-size: 21px;
    color: $primary;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/burger";
@import "blocks/intro";
@import "blocks/btn";