.clients {
    background-color: #FAFAFA;

    >.container {
        position: relative;
    }
}

.clients__list {
    display: flex;
    justify-content: space-between;
    padding: 5rem 2.5rem 13rem;
    flex-wrap: wrap;
}

.clients__list-item {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
        width: 50%;
        margin-bottom: 6rem;
    }

    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.clients__footer {
    height: 77px;
    width: 100%;
    background-color: #252B42;

    @media screen and (max-width: 768px) {
        display: none;;
    }
}

.clients__form-container {
    position: absolute;
    padding: 0 2.5rem;
    width: 94%;
    top: 75%;
    border-radius: 2px;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        width: 100%;
        position: relative;
        padding: 0;
    }
}

.clients__form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, #295C7A, #0072B5);
    padding: 3.1rem 5rem 3.1rem 5rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}
  

.clients__form-text {
    width: 40%;
    font-family: $firstfont;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.4;
    color: white;
    padding-right: 10rem;

    @media screen and (max-width: 768px) {
        text-align: center;
        padding: 0 1rem;
        width: 100%;
    }
}

.clients__form-actions {
    font-family: $thirdfont;
    width: 50%;
    display: flex;
    justify-content: end;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 3rem;
    }
}

.clients__form-button {
    border: none;
    padding: 1.5rem 2.4rem;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: inherit;
    font-weight: 400;
    background-color: #D0A144;
    border-radius: 0 5px 5px 0;
    color: white;
    transition: all 0.3s ease;

    &:hover {
        background-color: darken($color: #D0A144, $amount: 10%);
    }
}

.clients__form-input {
    display: block;
    width: 100%;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 1.4rem;
    font-family: inherit;
    line-height: 2;

    &::placeholder {
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2;
    }
}