.contact {
    padding: 8rem 0 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FAFAFA;
}

.contact__cards {
    display: flex;
    justify-content: center;
    padding: 0 2.5rem;
    margin-top: 8rem;
    align-items: center;
}

.contact__cards-item {
    display: block;
    padding: 6rem 5rem;
    background-color: white;
    width: 33%;

    &--center {
        background-color: #252B42;
        padding: 9rem 5rem;

        .contact__link {
            color: white;
        }

        .page__title {
            color: white;
        }
    }
}

.contact__links {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__link {
    font-family: $secondfont;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 700;
}

.contact__button-container {
    margin-top: 2.5rem;
}

.contact__button {
    font-size: 1.4rem;
    font-family: $secondfont;
    text-decoration: none;
    color: #D0A144;
    border: 1px solid #D0A144;
    padding: 1rem 2rem;
    border-radius: 5px;
}