.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
    transition: all 0.2s ease;
    position: fixed;
    @media screen and (max-width: 768px) {
        position: relative;
        background-color: #F6F6F6
    }

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;

    @media screen and (max-width: 768px) {
        padding: 1rem 0;
    }

}

.header__logo {
    font-family: $firstfont;
    font-size: 2.4rem;
    line-height: 1.2;
    transition: all 0.2s linear;

    &:hover {
        opacity: 0.8;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

