.nav {

    @media screen and (max-width: 768px) {
        .nav__list {
            display: none;
        }

        .nav__list--mobile {
            display: flex;
        }
    }

    &--mobile {
        display: none;
    }
}

.nav__list {
    display: flex;

    &--icons {
        margin-left: 1.5rem;
    }

    &--mobile {
        display: none;
    }
}

.nav__item {
    display: flex;
    align-items: center;
    text-align: center;

    &:hover {

        .nav__link {
            color: $primary;
        }

        .nav__icon {
            opacity: 0.7;
        }
    }

    @media screen and (max-width: 768px) {
        justify-content: center;
    }
}

.nav__link {
    font-size: 1.2rem;
    font-weight: 600;
    color: $secondary;
    text-decoration: none;
    padding: 1.25rem;

    @media screen and (max-width: 768px) {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.5;
    }

}

.nav__icon {
    transition: opacity 0.3s ease;
}

.mobile__nav {
    display: none;
    width: 100%;
    padding: 5rem 0 10rem;

    @media screen and (max-width: 768px) {
        display: block;

        .nav--mobile {
            display: block;
            background-color: #F6F6F6;

            .nav__list {
                display: block;
            }
        }
    }
}