.page__title {
    font-family: $firstfont;
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 700;
    color: $primary;
    &--small {
        font-size: 1.6rem;
        line-height: 1.5;
    }
}

.page__subtitle {
    font-family: $firstfont;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 700;
    color: $primary;
}

.page__text {
    margin-top: 1.5rem;
    font-family: $secondfont;
    color: $secondary;
    font-size: 1.4rem;
    line-height: 1.4;
}