<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__top-left">
                <h3 class="page__title page__title--md">Request A Free Consultation</h3>
                <div class="page__text">the quick fox jumps over the lazy dog</div>
            </div>
            <div class="footer__top-right">
                <div class="btn btn--square">Contact Us</div>
            </div>
        </div>
    </div>

    <div class="footer__cover">
        <div class="container">
            <div class="footer__body">

                <div class="footer__info">
                    <div class="page__title page__title--footer">Company Info</div>
                    <ul class="footer__links">
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">About Us</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">Carrier</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">We are hiring</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">Blog</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__info">
                    <div class="page__title page__title--footer">Legal</div>
                    <ul class="footer__links">
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">About Us</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">Carrier</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">We are hiring</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">Blog</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__info">
                    <div class="page__title page__title--footer">Features</div>
                    <ul class="footer__links">
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">Business Marketing</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">User Analytic</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">Live Chat</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">Unlimited Support</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__info">
                    <div class="page__title page__title--footer">Resources</div>
                    <ul class="footer__links">
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">IOS & Android</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">Watch a Demo</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">Customers</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="#" class="footer__link">API</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__info">
                    <div class="page__title page__title--footer">Get In Touch</div>
                    <ul class="footer__links">
                        <li class="footer__links-item">
                            <img src="assets/images/footer/phone.svg" alt="phone" class="footer__icon">
                            <a href="tel:480-555-0103" class="footer__link">(480) 555-0103</a>
                        </li>
                        <li class="footer__links-item">
                            <img src="assets/images/footer/location.svg" alt="location" class="footer__icon">
                            <div class="footer__link">4517 Washington Ave.</div>
                        </li>
                        <li class="footer__links-item">
                            <img src="assets/images/footer/mail.svg" alt="mail" class="footer__icon">
                            <a href="mailto:debra.holt@example.com" class="footer__link">debra.holt@example.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer__bottom">
            <div class="page__text">Made With Love By Figmaland All Right Reserved</div>
            <div class="footer__social">
                <ul class="social__list">
                    <li class="social__list-item">
                        <img src="assets/images/social/1.svg" alt="fb">
                    </li>
                    <li class="social__list-item">
                        <img src="assets/images/social/2.svg" alt="ig">
                    </li>
                    <li class="social__list-item">
                        <img src="assets/images/social/3.svg" alt="tw">
                    </li>
                    <li class="social__list-item">
                        <img src="assets/images/social/4.svg" alt="yt">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
