<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo"><a href="index.html" >Legalide</a></div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Product</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Pricing</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Contact</a>
                    </li>
                    <li class="nav__item">
                        <ul class="nav__list nav__list--icons">
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    <img class="nav__icon" src="assets/images/search.svg" alt="search-icon">
                                </a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">
                                    <img class="nav__icon" src="assets/images/shopping.svg" alt="shop-icon">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <button class="burger burger--desktop" type="button">
                            <span>Открыть навигацию</span>
                        </button>
                    </li>
                </ul>
                <ul class="nav__list nav__list--icons nav__list--mobile">
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <img class="nav__icon" src="assets/images/search.svg" alt="search-icon">
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <img class="nav__icon" src="assets/images/shopping.svg" alt="shop-icon">
                        </a>
                    </li>
                    <li class="nav__item">
                        <button class="burger" type="button">
                            <span>Открыть навигацию</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="mobile__nav">
        <nav class="nav nav--mobile">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Product</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Pricing</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
