<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">Legalide</div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Product</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Pricing</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Contact</a>
                    </li>
                    <ul class="nav__list nav__list--icons">
                        <li class="nav__item">
                            <a href="#" class="nav__link">
                                <img class="nav__icon" src="assets/images/search.svg" alt="search-icon">
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">
                                <img class="nav__icon" src="assets/images/shopping.svg" alt="shop-icon">
                            </a>
                        </li>
                    </ul>
                </ul>
            </nav>
            <button class="burger" type="button">
                <span>Открыть навигацию</span>
            </button>
        </div>
    </div>
</header>
